.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars
!*.tfvars.example
tfplan
crash.log

# Ansible
playbooks/vars/cyberark_settings.yml
override.tf
override.tf.json
*_override.tf
*_override.tf.json
